/*  your css code here. If applicable */
.grid-item{
	border:1px solid black;
	height :40px;
	
}
.grid-container{
	display:grid;
	grid-template-columns:repeat(3,1fr);
	grid-template-rows:repeat(3,1fr);
}